---
title: 常夜迷子サーバー仕様変更
description: 翻訳機能の有効化や、各機能の制限を実施
date: 2024/08/26
author: 段風桜
---

常夜迷子は、サーバーの仕様を変更することを発表した。
今回の変更は、利用者の利便性を考慮したものであり、以下のような内容が含まれている。

まず、翻訳機能が有効化されることにより、コミュニケーションの円滑化が期待される。
一方で、いくつかの機能制限も設けられた。
具体的には、ノートのピン留め数が5から3に減少し、アンテナの数も同様に5から3に変更される。
さらに、Webhookの数は3から1に、クリップの数は10から3に、クリップ最大ノート数は200から100に制限される。
そして、リストの数も10から3に減少する。
