---
title: アナヒビ月報（2024年8月）公開
description: 収支報告や最近の取り組みなど
date: 2024/08/25
author: 段風桜
---

[2024年8月のアナヒビ月報](https://ofuse.me/e/49365)が公開された。

その中では、2024年7月の収支報告と最近の取り組みが記載されている。

検索サーバーの移設やさけすきーの規約改定が行われ、さらにかんなすきーおよびさけすきーではカスタム絵文字の追加も実施された。

また、ちらのーとに関しては、すでにカテゴリが整理されているため、管理人主導の整理は行わず、ユーザーに任せる方針が示された。

サービス稼働状況サイトの整理も進められている。

詳しくはリンクのアナヒビ月報をご覧いただきたい。