---
title: 常夜迷子のスパム抑制策、リモートユーザーからのメンションをブロック
description: フォロワーでないリモートユーザーからのメンションをブロックする新たなスパム抑制策を導入
date: 2024/08/26
author: 段風桜
---

常夜迷子は、スパム抑制のための新たな対策を講じた。
この対策により、常夜迷子のユーザーがフォローしていないリモートユーザーからのメンションを含むノートがブロックされることとなった。
これにより、ユーザーは不必要なスパムメッセージから保護される。

リモートユーザーからのメンションが届かなくなることで、スパムの増加を防ぎ、より快適な利用環境を提供することが期待されている。

また、既に同様の対策がMisskey.ioでは講じられている。
